#logo {
    width: 192px;
    height: 48px;
    background-image: url('../imgs/logo.png');
    background-repeat: no-repeat;
}

#content_common {
    padding: 60px 15px 60px;
}

#content_diy {
    padding: 60px 15px 60px;
}

.hidden {
    display: none;
}

.preview-sm {
    width: 150px;
    height: 200px;
}

.left-5 {
    margin-left: 5px;
}

.text-price {
    font-weight: bold;
    font-family: Verdana;
}

.text-title {
    height: 40px;
    overflow: hidden;
}

.label-lg {
    line-height: 40px;
    height: 40px;
}

.nav-pills > li > a {
    padding: 0 15px;
    line-height: 40px;
}

#btn-collapse {
    cursor: pointer;
}
